# CSM: Python Module for the Conventional Subdomain Modeling Approach
# #   Copyright (C) 2017 
# #   Computational Modeling Group, NCSU <http://www4.ncsu.edu/~jwb/>
# #   Alper Altuntas <alperaltuntas@gmail.com>

# Python
*pyc

# VIM backup
*swp

# PyCharm
.idea